In [19]:
import pandas as pd
import numpy as np

In [20]:
import pandas as pd
from tabula import convert_into,read_pdf
convert_into('SP 10-2020 Relatório Sintético de Composições de Custos.pdf',
              'SP 10-2020 Relatório Sintético de Composições de Custos.csv',
              output_format='csv', pages='all')

In [21]:
df1 = pd.read_csv('SP 10-2020 Relatório Sintético de Composições de Custos.csv',header=None)
#df1 = pd.read_csv('SP 10-2019 Relatório Sintético de Composições de Custos - Sem Desoneração.JSON',header=None)

df1 = df1.rename(columns={0: 'Código', 1: 'Descrição do Serviço', 2 : 'Unidade', 3 : 'Custo Unitário (R$)'})

In [22]:
for i in range(8329):
                
    if pd.isnull(df1.iloc[i]['Código']) == True:
        df1.at[i-1,'Descrição do Serviço'] = (str(df1.iloc[i]['Descrição do Serviço'])
                                                    + ' ' + str(df1.iloc[i-1]['Descrição do Serviço']))

In [23]:
df1.head()

,Código,Descrição do Serviço,Unidade,Custo Unitário (R$)
0,307731.0,Aparelho de apoio de neoprene fretado para est...,dm3,"86,05"
1,307732.0,Aparelho de apoio de neoprene fretado para est...,dm3,"64,24"
2,308308.0,Aparelho de apoio metálico elastomérico fixo c...,un,"15.214,13"
3,308313.0,Aparelho de apoio metálico elastomérico fixo c...,un,"98.620,85"
4,308309.0,Aparelho de apoio metálico elastomérico fixo c...,un,"24.767,75"

In [15]:
df1 = df1.dropna().reset_index().to_csv('SP 10-2020 Relatório Sintético de Composições de Custos.csv',encoding='utf-8')